body  {
  display: inline-block;
  background: linear-gradient(skyblue, lightyellow, orange);
}

.trailer-container {
   text-align: center;
}

.trailer  {
  display: block;
  margin: 0 auto;
}

#player {
   justify-content: center;
}

section {
  width: 50%;
}

.plyr--full-ui input[type="range"] {
  color: #fffeb3;
}

.plyr__time {
  font-size: 14px;
}

.plyr button {
  color: yellow;
}

/*Font Styling */
h1  {
  font-family: 'Fjalla One';
  text-align: center;
  color: #79B47C;
  font-size: 5em;
}

.introducing  {
  font-family: 'Fjalla One';
  color: #fffeb3;
  font-size: 3em;
  text-align: center;
}

.info {
  font-family: 'Fjalla One';
  color: #666547;
  display: center;
  margin: 0 auto;
  text-align: center;
}

.cast { 
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  margin-left: 500px;
  margin-right: 500px;
}

img {
  width: 400px;
  position: relative;
  right: 100px;
  overflow: hidden;
}

h2  {
  font-family: 'Anton';
  text-align: center;
  position: relative;
  right: 100px;
  color: #666547;
}

h4  {
  font-family: 'Fjalla One';
  text-align: center;
  position: relative;
  right: 100px;
  color: #fb2e01;
}

ul, li {
  font-family: 'Ultra';
  color: #fb2e01;
}

/* Media Queries borrowed from: https://codepen.io/manikoth/pen/EgGZKB*/
/* 
  Mobile: 
  * 320px = 20em
  * 767px = 47.9375em
*/
@media only screen 
  and (min-width: 0) 
  and (max-width: 48em){

  }
 

/* Tablet:  
  * 768px = 48em 
    1023px = 63.9375em;
*/
@media only screen 
  and (min-width: 48em) 
  and (max-width: 64em){

  }

/* Desktop: 
  * 1024px = 64em
  * 64em and larger
*/
@media screen 
  and (min-width: 64em) 
  and (max-width: 90em){

  }

/* Wide Desktop: 
  * 1440px = 90em
  * 90em and wider
*/
@media screen and (min-width: 90em) {

}