body  {
  display: inline-block;
  background: linear-gradient(skyblue, lightyellow, orange);
}

.trailer-container {
   text-align: center;
}

.trailer  {
  display: block;
  margin: 0 auto;
}

#player {
   justify-content: center;
}

section {
  width: 50%;
}

.plyr--full-ui input[type="range"] {
  color: #fffeb3;
}

.plyr__time {
  font-size: 14px;
}

.plyr button {
  color: yellow;
}

/*Font Styling */

h1 {
  font-family: 'Anton';
  font-style: sans-serif;
  color: #fffeb3;
  font-size: 6em;
  text-align: center;
}

h2  {
  font-family: 'Anton';
  text-align: center;
}

h4  {
  text-align: center;
  font-family: 'Fjalla One';
}

blockquote  {
  font-family: 'Ultra';
  color: #fb2e01;
  font-size: 2em;
  text-align: center;
}

.info {
  font-family: 'Fjalla One';
  color: #666547;
  display: center;
  margin: 0 auto;
}

.cast {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
    }

ul, li {
  font-family: 'Ultra';
  color: #fb2e01;
}

/* Media Queries borrowed from: https://codepen.io/manikoth/pen/EgGZKB*/
/* 
  Mobile: 
  * 320px = 20em
  * 767px = 47.9375em
*/
@media only screen 
  and (min-width: 0) 
  and (max-width: 48em)
 

/* Tablet:  
  * 768px = 48em 
    1023px = 63.9375em;
*/
@media only screen 
  and (min-width: 48em) 
  and (max-width: 64em)

/* Desktop: 
  * 1024px = 64em
  * 64em and larger
*/
@media screen 
  and (min-width: 64em) 
  and (max-width: 90em);

/* Wide Desktop: 
  * 1440px = 90em
  * 90em and wider
*/
@media screen and (min-width: 90em)